<ion-header>
  <ion-toolbar color="success">
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img width="100%" src="" alt="">
  <ion-card>
    <ion-card-content>
      <p>Address: 3 Peace Road, 111</p>
      <p>Complement: Apto 333</p>
      <p>Neighbourhood: neighbourhood</p>
      <p>Zip code: 3838</p>
      <p>City-name: Lagos</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create pick up call</ion-button>
</ion-content>
